
.small-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  float: left;

}

.medium-image {
  max-width: 50pc;
  width: 100%;
  height: auto;

}

.big-image {

  width: 100%;
  height: auto;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-title {

  background-color: #2aafaf;
  font-family: 'Times New Roman', Times, serif;
  color: white
}

.white {
  background-color: white;

}

.padding-it {
  padding-top: 2%;
  padding-right: 4pc;
  padding-left: 4pc;
  padding-bottom: 4pc;

}

.green-border {
  border: 2px solid #2aafaf;
}

h1 {

    color: #2aafaf;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 20px;
  
}

  h2 {

    color: #2aafaf;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 10px;
  }

  p {

    font-family: 'Times New Roman', Times, serif;
    color: gray;
    font-size: 20px;
    padding: 20px;
    line-height: 40px;
  
  }

  body {
    padding: 10px;
    background-color:#F0F0F0;
    margin-bottom: 90px;

  }

  footer {
    font-family: 'Times New Roman', Times, serif;
    background-color:darkgray;
    color: white;
    height: 90px;
    border-top: 7px solid #2aafaf;
    padding-top: 30px;
    position: fixed;;
    bottom:0;
    width:100%;
    font-size: 15px;
  }


  @media (min-width: 720px) {
    footer { 
    font-size: 20px;
    }
  }

hr {

  margin: 0.5em auto
}